*{
    margin: 0;

}

a{
    text-decoration: none;
    color: black;

}

body{
    background-color: #33313d;
}

/******
esto es para la parte del principio que tiene el logo y los botones de incio
servicio y contacto 
******/
header{
    /*height es el tamaño que tiene la etiquta*/
    height: 70px;
    /*esta funcion centra los items*/
    align-items: center;
    display: flex;
    padding: 20px;
    /*el backgroundo-color es el color del fondo*/
    background-color: #141330;
    justify-content: space-between;
}

/*hace que todo los que este en la clase logo se centre en el header
como la imagen y el texto 
*/
.logo{
    display: flex;
    align-items: center;
    color: aquamarine;
    font-family: sans-serif;
}

/*
aca cambiamos esl tamaño del logo 
tambien de lamos un margen para que se separe del texto
y lo hacemos un circulo 
*/
.logo img{  
    margin-right: 20px;
    height: 70px;
    border-radius: 50%;

}
/*eso cambia las propiedades de los items del menu*/
nav a{
    font-family: sans-serif;
    color: aquamarine;
    margin:1px;
    border-radius: 10%;
}
/*
y esto hace que cuando el cursor pase por ellos cambien
de color de fuente y color de fondo
*/
nav a:hover{
    background-color: aquamarine;
    color:#141330;
    
}



/*********
aqui empieza la otra parte las parte media de la pagina
*********/

main{

    text-align: center;
    background-color: #141330;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}
/*
esta etiqueta cambia los parrafos en la etiquta main
aqui cambio su como y el tamaño del texto 
*/
main p{
    color:#a5abe0;
    font-size: 20px;
}

.main-text{
    margin-top: 30px;
    grid-template-columns: auto auto auto;
}

.main-text img{
    border-radius: 5%;
    padding: 0;
    /*este hace que la imagen se vea bien */
    object-fit: cover;
    /*los items de abajo controlan la largo y ancho*/
    width: 270px;
    height:270px;
}

.main-text h1{
    font-size: 40px;
    color: rgb(91, 91, 197);
    font-family: sans-serif;
}

/*****************
desde aqui empezare con lo que viene siendo el pie de pagina lo ultimo que se vera
*****************/
footer{
    background-color: #141330;
    margin-top: 30px;
    text-align: center;

}

.text-footer{
    align-items: center;
    color:#a5abe0;
    font-family: sans-serif;
}


/*la parte que dice el numero de wsp*/
/*el numero*/
footer h4{
    text-align: center;
    font-size: 40px;
    color: rgb(19, 201, 43);
    
}
/*el icono*/
.iconwsp{
    height: 30px;

}





















